body {
  font-family: "RobotoRegular", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised; }

h1 {
  color: #fff;
  font-size: 60px;
  line-height: 56px;
  font-weight: bold;
  font-family: "CleanvertisingLight", sans-serif;
  margin: 0; }

section {
  padding: 58px 0 68px; }

section h2 {
  color: #9B1818;
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 50px; }

h2 {
  color: #9B1818;
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 50px; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

header {
  min-height: 640px;
  background-image: url(../img/top_bg.jpg);
  background-position: top center;
  background-size: cover;
  color: #fff;
  padding-top: 32px; }

.logo {
  font-size: 40px;
  font-family: "RobotoBold", sans-serif;
  font-weight: bold; }

.top_phone {
  text-align: right; }

.top_phone .wrapper .tab {
  text-transform: uppercase;
  cursor: pointer; }

.top_phone .wrapper .active {
  text-decoration: underline; }

.top_phone .tab_item {
  display: none;
  font-size: 18px;
  font-family: "RobotoBold", sans-serif; }

.top_phone .tab_item:first-child {
  display: block; }

.tabs span.active {
  background-color: #fff; }

.tabs .tab_content {
  font-size: 18px;
  background-color: rgba(225, 225, 225, 0.6);
    background-color-padding: 12px 18px 16px; }

.tabs_header {
  margin-top: 30px; }
  .tabs_header ul, .tabs_header li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .tabs_header li {
    padding-left: 40px;
    position: relative;
    margin-bottom: 12px; }
  .tabs_header i {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 26px;
    color: #6F6A67; }
  .tabs_header .tabs span {
    display: inline-block;
    backgrpound-color: rgba(225, 225, 225, 0.25);
    padding: 15px 18px;
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    font-family: "RobotoBold", sans-serif;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    .tabs_header .tabs span.active {
      background-color: rgba(255, 255, 255, 0.6);
      color: #fff; }
  .tabs_header .tab_content {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px 18px 16px; }
